* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}


.titleShop {
  background: blue;
  padding-right: 700px;
}

.capivaraBuyBtn {
  background: blue;
  padding-right: 300px;
  font-size: 15px;
}

.shopScreen {
  
}